<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mini-WhatsApp</title>
</head>
<body>
    <h3>All Chats</h3>
    <form action="/chats/new" method="get">
        <button>New Chat</button>
    </form>
    <div>
    <% for (let chat of chats) { %>
        <div style="border: 1px solid #ccc; padding: 10px; margin-bottom: 10px; display:inline-block">
            <p><strong>From:</strong> <%= chat.from %></p>
            <p><strong>Message:</strong> <%= chat.message %></p>
            <p><strong>Received By:</strong> <%= chat.to %></p>
            <p><strong>Time:</strong> <%= chat.created_at.toLocaleString() %></p>
        </div>
    <% } %>
    </div>
</body>
</html>
