<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>New Chat</title>
</head>
<body>
    <h3>All Chats</h3>
    <form action="/chats" method="Post">
        <input placeholder="who are you", name="from">
        <textarea name="message"></textarea>
        <input placeholder="Who you want to send" name="to">
        <button>CREATE CHAT</button>
    </form>
 
</body>
</html>
